#player{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    float: left;
    justify-content: space-evenly;
}
#house{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    float: right;
    justify-content: space-evenly;

}
body{
    text-align: center;
}
div{
    text-align: center;
}